.container {
    margin-bottom: 20px; 
    padding: 10px;
    border: 1px solid #ddd; 
    border-radius: 8px; 
    background-color: #f9f9f9; 
    max-width: 600px;    
    min-width: 600px;    
    max-height: 200px;   
    min-height: 50px;   
  }

.item {
    padding: 10px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  }

.item a {
    font-size: 18px;
    color: #007bff;
    text-decoration: none; 
    font-weight: bold;
  }

.item a:hover {
    text-decoration: underline; 
  }

.item p {
    color: #333;
    font-size: 14px;
    margin-top: 10px;
  }