{% extends "base.html" %}
{% block content %}
<body>
    <div class="ticket-details" >
        <h1>{{ ticket.title }}</a> - {{ ticket.status }}</h1>
        <p>{{ ticket.description}}</p>
        <p>{{ ticket.created_at }}</p>
        <p style="text-align: right;">Автор : <a  href="{% url 'profile' ticket.creator.pk %}">{{ ticket.creator }}</p></a>
    </div>
    <div class="comment">
        {% for comment in comments %}
        <p>{{ comment.creator }}</p>
        <p>{{ comment.content }}</p>
        <form action="{% url 'comment-like' comment.id %}" method="post">
            {% csrf_token %}
        <button type="submit"  class="{% if comment.is_liked_by_user %}liked{% else %}like{% endif %}">Likes: {{ comment.likes.count }} </button>
        </form>
        {% endfor %}
    </div>
    <div>
        <h3>Відповісти :</h3>
        <form action="{% url 'comment-create' ticket.id %}" method="post">
            {% csrf_token %}
            {{ comment_form.as_p }}
            <button type="submit">Зберегти</button>
        </form>
    </div>
</body>
{% endblock %}
